.tamcappsearch {
  padding: 3px;
  min-width: 100px;
  margin-top:10px;
  margin-bottom:15px;
}

.search {
  padding: 6px 15px 6px 30px;
  background: url("search.svg") no-repeat 8px 6px;
}

.rounded {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:White;
    width: 100%;
    box-sizing: border-box;
    font-size:14px;
    border-color: Black ;
    border: Black solid thin;
}

.clear_button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 40px;
  height: 40px;
  background-image: url("x_icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.clear_button_visible {
  position: absolute;
  top: 22px;
  right: 2px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("x_icon.svg");
  background-repeat: no-repeat;
}