<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel" version="11.1.2.64.36" id="SpringboardPageDef"
                Package="com.tamcapp.mobilebook.Springboard">
  <parameters/>

  <executables>
    <variableIterator id="variables"/>
<iterator Binds="root" RangeSize="25" DataControl="ApplicationFeatures" id="ApplicationFeaturesIterator"/>
    <accessorIterator MasterBinding="ApplicationFeaturesIterator" Binds="features" RangeSize="25"
                      DataControl="ApplicationFeatures" BeanClass="oracle.adfmf.framework.FeatureInformation"
                      id="featuresIterator"/>
  </executables>
  <bindings>
    <methodAction id="gotoFeature" RequiresUpdateModel="true" Action="invokeMethod" MethodName="gotoFeature"
                  IsViewObjectMethod="false" DataControl="ApplicationFeatures"
                  InstanceName="data.ApplicationFeatures.dataProvider">
      <NamedData NDName="featureId" NDValue="#{pageFlowScope.FeatureId}" NDType="java.lang.String"/>
    </methodAction>
<tree IterBinding="featuresIterator" id="features">
      <nodeDefinition DefName="oracle.adfmf.framework.FeatureInformation" Name="features0">
        <AttrNames>
          <Item Value="id"/>
          <Item Value="name"/>
          <Item Value="icon"/>
          <Item Value="image"/>
        </AttrNames>
      </nodeDefinition>
    </tree>
  </bindings>
  
</pageDefinition>
